<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <title>Astro-Home</title>
    <style>
      h3_ {
        margin-top: 50px;
        font-family: "Roboto Slab", serif;
      }
      .image img {
        width: 350px;
        border-radius: 5px;
      }
      .image h1 {
        text-align: center;
      }
      .headline h2 {
        color: rgb(96, 228, 184);
        font-family: "Merriweather", serif;
        font-weight: 100;
        text-decoration: underline;
        margin-left: 10px;
      }
      p {
        color: burlywood;
        font-family: monospace;
        margin-left: 20px;
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    {% extends "nav_home.html" %} {% block nav %}

    <div class="h3_" style="margin-top: 20px">
      <h5
        style="
          color: rgb(195, 199, 198);
          font-size: large;
          margin-left: 10px;
          text-align: center;
        "
      >
        <span
          style="border: 1px solid plum; padding: 5px 5px; border-radius: 5px"
          >Brief Overview of Japanese Animation
        </span>
      </h5>
      <hr style="color: blanchedalmond" />
    </div>

    <div class="image">
      <h1>
        <img
          src="https://doyouknowjapan.com/image/anime/evangelion-picture.jpg"
          alt="html"
        />
      </h1>
    </div>
    <div class="headline">
      <h2>More than 6,000 Anime are Produced in Japan</h2>
    </div>

    <div>
      <p class="">
        Japan is one of the handful of biggest producers of animation in the
        world. Japanese animation is called distinctively “Anime” compare to
        other animations from other countries. The word “Anime” is the
        abbreviated pronunciation of "animation" in Japanese. In other
        languages, the word ”Anime” is defined as animation from Japan or as
        style of animation imported from Japan, often characterized by fantastic
        themes, dynamic characters and colorful graphics. According to the
        survey, more than 6,000 anime are produced, and more than 3,200 anime
        are aired on television. Also, about 60% of the all animations
        broadcasted in the world are made in Japan.
      </p>
    </div>
    <hr style="color: blanchedalmond" />

    <div class="image">
      <h1>
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.MDwJqEm3JOW6FL4ozmuADQHaEo%26pid%3DApi&f=1"
          alt="html"
        />
      </h1>
    </div>
    <div class="headline">
      <h2>Japanese Anime holds 2 Guinness World Record</h2>
    </div>
    <div>
      <p class="">
        Japanese Anime holds several Guinness World Record. One is "Sazae-san",
        which is the longest broadcasting animation in the world with more than
        7,000 episodes since 1969. Other one is "Anpanman", which holds the the
        highest number of characters in an animated franchise with a total of
        1,768 characters appearing in the first 980 episodes of the TV series
        and the first 20 movie films.
      </p>
    </div>

    <hr style="color: blanchedalmond" />

    <div class="image">
      <h1>
        <img
          src="https://doyouknowjapan.com/image/anime/totoro-picture.jpg"
          alt="html"
        />
      </h1>
    </div>
    <div class="headline">
      <h2>Anime Became Greatly Popular Around the World</h2>
    </div>
    <div>
      <p class="">
        The first commercial Japanese animation was broadcasted in 1917, and
        production of anime works in Japan has since continued to increase
        steadily. The characteristic art style of Anime emerged in the 1960s
        with the works of Osamu Tezuka and spread internationally in the late
        20th century, developing a large domestic and international audience.
        Anime is distributed theatrically, by television broadcasts, directly to
        home media, and over the internet and is classified into numerous genres
        targeting diverse broad and niche audiences.
      </p>
    </div>
    <hr style="color: blanchedalmond" />

    <div class="image">
      <h1>
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.x9b8os086BLnZ8GbItjjcAHaEK%26pid%3DApi&f=1"
          alt="html"
        />
      </h1>
    </div>
    <div class="headline">
      <h2>Anime is Developed by Distinctive Technique</h2>
    </div>
    <div>
      <p class="">
        Anime is based on a varied art form with distinctive making methods and
        techniques that have been adapted over time in response to emergent
        technologies. The production of anime focuses less on the animation of
        movement, and more on the realism of settings as well as the use of
        camera effects, including panning, zooming and angle shots. Diverse art
        styles are used and character proportions and features can be quite
        varied, including characteristically large emotive or realistically
        sized eyes.
      </p>
    </div>

    <hr style="color: blanchedalmond" />

    <div class="image">
      <h1>
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.wC79kPVRORzreE_A-mNe8QHaEK%26pid%3DApi&f=1"
          alt="html"
        />
      </h1>
    </div>
    <div class="headline">
      <h2>More than 430 Anime Studios in Japan</h2>
    </div>
    <div>
      <p class="">
        The anime industry consists of over 430 anime production studios
        including major studios like Studio Ghibli, Production IG and Toei
        Animation. Despite having a fraction of the domestic film market, anime
        achieves a majority of DVD sales and has been an international success
        after the rise of televised English dubs. This rise in international
        popularly has resulted in non-Japanese productions using the anime art
        style.
      </p>
    </div>

    <hr style="color: blanchedalmond" />

    <div class="image">
      <h1>
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.VwVm_T86ERvClq4xiRJqCQHaEK%26pid%3DApi&f=1"
          alt="html"
        />
      </h1>
    </div>
    <div class="headline">
      <h2>Anime Has Been Around Since The Early 1900s.</h2>
    </div>
    <div>
      <p class="">
        Believe it or not, anime did not begin with Sailor Moon or Pokemon (they
        were late to the party, originating in 1992 and 1997). Anime has been
        dated back to 1907, potentially even earlier – records of this time are
        spotty at best – as an extension of theatre. While Osama Tezuka is known
        as the anime expert, three men are thought to be the anime originators:
        Katsudo Shashin, Junichi Kouichi, and Seitarou Kitayama.
      </p>
    </div>
    <hr style="color: blanchedalmond" />

    <div class="h3_" style="margin-top: 20px">
      <h5
        style="
          color: rgb(195, 199, 198);
          font-size: large;
          margin-left: 10px;
          text-align: center;
        "
      >
        <span
          style="border: 1px solid plum; padding: 5px 5px; border-radius: 5px"
          >History of Japanese Animation
        </span>
      </h5>
      <hr style="color: blanchedalmond" />
    </div>

    <div class="image">
      <h1>
        <img
          src="https://doyouknowjapan.com/image/anime/namakura-gatana.jpg"
          alt="html"
        />
      </h1>
    </div>
    <div class="headline ">
      <h2>Japanese Animation was Born in early 20th Century</h2>
    </div>
    <div>
      <p class="">
        Anime arose in the early 20th century, when Japanese filmmakers
        experimented with the animation techniques. The earliest Japanese
        animation is called Katsudo Shashin, an undated private work by an
        unknown creator. In 1917, the first professional and publicly displayed
        works began to appear. Animators such as Oten Shimokawa and Seitarou
        Kitayama produced numerous works, includes the oldest surviving film
        “Kouchi's Namakura Gatana", which is two minutes clip of a samurai
        trying to test a new sword on his target only to suffer defeat. In 1923,
        Great Kanto earthquake resulted in broad destruction of Shimokawa's
        warehouse, destroying most of these early works.
      </p>
    </div>
    <hr style="color: blanchedalmond" />

    <div class="image">
      <h1>
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.UQnE5-ct8Kfh67lhU_WqrAHaEK%26pid%3DApi&f=1"
          alt="html"
        />
      </h1>
    </div>
    <div class="headline ">
      <h2>Development of Japanese Style Cel Animation Production Technique</h2>
    </div>
    <div>
      <p class="">
        By the 1930s, animation has started to replace the live-action industry
        in Japan as an alternative format. At that time, it faced a competition
        against foreign products, which were cheaper cutout animation rather
        than cel animation. Kenzo Masaoka and Mitsuyo Seo, nonetheless made
        great strides in animation technique; they benefited from the patronage
        of the Japanese government, which employed animators to produce
        educational short films and propaganda. By 1940, numerous anime artists'
        organizations had risen, including the Shin Mangaha Shudan and Shin
        Nippon Mangaka. The first feature-length animation film was “Momotaro's
        Divine Sea Warriors” directed by Seo in 1944 with sponsorship by the
        Japanese Imperial Navy.
      </p>
    </div>
    <hr style="color: blanchedalmond" />

    <div class="image">
      <h1>
        <img
          src="https://doyouknowjapan.com/image/anime/gundam-picture.jpg"
          alt="html"
        />
      </h1>
    </div>
    <div class="headline ">
      <h2>The Influence of the Walt Disney to Japanese Animation</h2>
    </div>
    <div>
      <p class="">
        The success of The Walt Disney Company's film “Snow White” and “the
        Seven Dwarfs” greatly influenced many Japanese animators. In the 1960s,
        manga artist and animator Osamu Tezuka brought in many Disney animation
        techniques and simplified it to reduce costs and to limit the number of
        frames in animation film. He intended this as a temporary measure to
        allow him to produce material on a tight schedule with inexperienced
        animation staff. “Three Tales”, aired in 1960, was the first anime shown
        on television. The first anime television series was “Otogi Manga
        Calendar”, aired from 1961 to 1964.
      </p>
    </div>
    <hr style="color: blanchedalmond" />

    <div class="image">
      <h1>
        <img
          src="https://doyouknowjapan.com/image/anime/kikis-delivery-service.jpg"
          alt="html"
        />
      </h1>
    </div>
    <div class="headline ">
      <h2>Tezuka Method Made Base of Modern "Anime"</h2>
    </div>
    <div>
      <p class="">
        The 1970s saw a surge of growth in the popularity of manga comics and
        graphic novels, many of which were later animated. The work of Osamu
        Tezuka drew particular attention: he has been called a "legend" and the
        "god of manga". His works and the works of other pioneers in the field
        inspired characteristics and genres that remain fundamental elements of
        anime today. The giant robot genre (known as "mecha" in other
        countries), for instance, took shape under Tezuka, developed into the
        Super Robot genre under Go Nagai and others, and was revolutionized at
        the end of the decade by Yoshiyuki Tomino who developed the Real Robot
        genre. Robot anime like the “Gundam" and “The Super Dimension Fortress
        Macross" series(“Robotec" in other countries) became instant classics in
        the 1980s, and the robot genre of anime is still one of the most common
        in Japan and worldwide today.
      </p>
    </div>
    <hr style="color: blanchedalmond" />

    <div class="image">
      <h1>
        <img
          src="https://doyouknowjapan.com/image/anime/makoto-shinkai.jpg"
          alt="html"
        />
      </h1>
    </div>
    <div class="headline ">
      <h2>"Anime" became Mainstream of Japanese Entertainment</h2>
    </div>
    <div>
      <p class="">
        In the 1980s, anime has became more accepted by the audience of majority
        in Japan, and experienced a boom in production. Following a few
        successful adaptations of anime in overseas markets in the 1980s, anime
        gained increased acceptance in those markets in the 1990s and even more
        at the turn of the 21st century. In 2002, Spirited Away, a Studio Ghibli
        production directed by Hayao Miyazaki won the Golden Bear at the Berlin
        International Film Festival and in 2003 at the 75th Academy Awards it
        won the Academy Award for Best Animated Feature.
      </p>
    </div>
    <hr style="color: blanchedalmond" />

    <h1 style="text-align: center">
      <button type="button" class="btn btn-danger"><a href="/">End</a></button>
    </h1>
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
